extends layout

block content
  h1= title
  p #{name}
  img(src= imagesrc)
  form(id="register" action="/register" method="POST")
    label(for="text") First Name: 
    br
    input(type='text', name='firstname')
    br
    label(for="text") Last Name: 
    br
    input(type='text', name='lastname')
    br
    label(for="text") Email: 
    br
    input(type='text', name='email')
    br
    label(for="text") Confirm Email: 
    br
    input(type='text', name='emailconfirm')
    br
    label(for="password") Password:  
    br
    input(type='password', name ='password')
    br
    label(for="password") Confirm Password:  
    br
    input(type='password', name ='passwordconfirm')
    br
    button Submit
  br
  a(href="/login") Already have an account? Login!