doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="/javascripts/index.js")
  body()
    h1= title
    p Hallo! Willkomen bei Tommasos' Webseite!
    grid(id='video-grid')
